<div class="contenedor-principal">
	<div class="row">
		<div class="col s6">
			<input (change)="cambioFechaIni()" id="fechaIni" type="date" value="{{ini}}">
		</div>
		<div class="col s6">
			<input (change)="cambioFechaFin()" id="fechaFin" type="date" value="{{fin}}">
		</div>
	</div>
	<table>
		<tr *ngFor="let item of datosArticulo;">
			<ng-container *ngIf="item.articulo.fechaedicion >= ini && item.articulo.fechaedicion <= fin">
				<td>{{item.articulo.fechaedicion}}</td>
				<td><strong>{{item.articulo.titulo}}</strong></td>
				<td><b>Autor(es)</b></td>
				<p *ngFor="let autor of item.autores">
					{{autor.nombres}} {{autor.apellidoPaterno}} {{autor.apellidoMaterno}}
				</p>
			</ng-container>
		</tr>
	</table>
</div>


		<!-- <tr *ngFor="let articulo of articulos; let i = index;">
			<ng-container *ngIf="articulo.fechaedicion >= ini && articulo.fechaedicion <= fin">
				<td>{{articulo.fechaedicion}}</td>
				<td><strong>{{articulo.titulo}}</strong></td>
				<td><b>Autor(es)</b></td>
				<p *ngFor="let autor of autores[i];">
					{{autor.nombres}} {{autor.apellidoPaterno}} {{autor.apellidoMaterno}}
				</p>
			</ng-container>
		</tr> -->