<div class="contenedor-principal">

	<!-- Filtrado por fecha -->
	<div class="row esconder-print">
		<div class="col offset-s3 s3">
			<input (change)="cambioFechaIni()" id="fechaIni" type="date" value="{{ini}}">
		</div>
		<div class="col s3">
			<input (change)="cambioFechaFin()" id="fechaFin" type="date" value="{{fin}}">
		</div>
	</div>

	<!-- Filtrado por instituto -->
	<div class="row esconder-print" *ngIf="nivel == 1">
		<div class="col offset-s3 s6">
			<label>{{"Filtrado por instituto" | translate}}</label>
			<select (change)="cambioInstituto($event.target)" class="browser-default">
				<option value="-1">{{"Todos" | translate}}</option>
				<ng-container *ngFor="let instituto of institutos; let i = index;">
					<option [value]="i">
						{{instituto.nombreInstituto}}
					</option>
				</ng-container>
			</select>
		</div>
	</div>

	<!-- Filtrado por profesor -->
	<div class="row esconder-print" *ngIf="nivel < 4">
		<div class="col offset-s3 s6">
			<label>{{"Filtrado por profesor" | translate}}</label>
			<select (change)="cambioProfesor($event.target)" class="browser-default">
				<option value="-1">{{"Todos" | translate}}</option>
				<ng-container *ngFor="let profesor of profesores; let i = index;">
					<option [value]="i">
						{{profesor.nombres}} {{profesor.apellidoPaterno}} {{profesor.apellidoMaterno}}
					</option>
				</ng-container>
			</select>
		</div>
	</div>

	<div class="esconder-print">
		<br>
		<p>*{{"Recordar que el filtrado por fecha siempre está activo" | translate}}</p>
		<br>
	</div>

	<!-- Muestra articulos -->
	<table>
		<tr>
			<td colspan="4"><b>{{"Articulos" | translate}}:</b></td>
		</tr>
		<ng-container *ngIf="articulos.length > 0; else sinArticulos">
			<ng-container *ngFor="let item of articulos  | 
				paginate: {
					itemsPerPage: pageSize,
					currentPage: p 
				};"
			>
				<ng-container *ngIf="item.articulo.fechaedicion >= ini && item.articulo.fechaedicion <= fin">
					<tr class="hide-line">
						<td>{{item.articulo.fechaedicion}}</td>
						<td><strong>{{item.articulo.titulo}}</strong></td>
						<td>{{"Autor(es)" | translate}}</td>
						<td>
							<b>{{item.articulo.grado}} {{item.articulo.nombres}} {{item.articulo.apellidoPaterno}} {{item.articulo.apellidoMaterno}}</b>
							<ng-container *ngFor="let autor of item.autores">
							, {{autor.grado}} {{autor.nombres}} {{autor.apellidoPaterno}} {{autor.apellidoMaterno}}
							</ng-container>
						</td>
					</tr>
				</ng-container>
			</ng-container>
		</ng-container>
		<ng-template #sinArticulos>
			<tr class="hide-line">
				<td colspan="4">
					{{"Sin articulos" | translate}}
				</td>
			</tr>
		</ng-template>
	</table>
	<br><br>
	<div class="row center-align">
		<pagination-controls
			class="my-pagination"
			(pageChange)="p = ($event)"
			previousLabel="Anterior"
			nextLabel="Siguiente"
		>
		</pagination-controls>
	</div>

</div>