<div class="contenedor-principal">
	<img
		*ngIf="profesor.idProfesor != 0" 
		src="http://localhost:3000/img/{{profesor.idProfesor}}.jpg"
	>
	<table class="highlight">
		<thead>
			<tr>
				<th colspan="5">{{"Datos Generales" | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td><b>{{"Nombre(s)" | translate}}</b></td>
				<td><input [(ngModel)]="profesor.nombres" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Apellido Paterno" | translate}}</b></td>
				<td><input [(ngModel)]="profesor.apellidoPaterno" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Apellido Materno" | translate}}</b></td>
				<td><input [(ngModel)]="profesor.apellidoMaterno" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Nombre APA" | translate}}</b></td>
				<td><input [(ngModel)]="profesor.nombreApa" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Tipo de profesor" | translate}}</b></td>
				<td>{{tipoProf}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Correo" | translate}}</b></td>
				<td><input [(ngModel)]="profesor.correoProfesor" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Nivel" | translate}}</b></td>
				<td>{{profesor.nivel}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>{{"Grado" | translate}}</b></td>
				<td><input [(ngModel)]="profesor.grado" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<button 
		class="btn waves-effect waves-light center-button blue-grey darken-4"
		(click)="guardarCambios()"
	>{{"Guardar cambios" | translate}}<i class="material-icons right">save</i>
	</button>
	<br>
</div>