<div class="contenedor-principal">
	<img
		*ngIf="profesor.idProfesor != 0" 
		src="http://localhost:3000/img/{{profesor.idProfesor}}.jpg"
	>
	<table class="highlight">
		<thead>
			<tr>
				<th colspan="5">Datos Generales</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td><b>Nombre(s)</b></td>
				<td><input [(ngModel)]="profesor.nombres" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>Apellido Paterno</b></td>
				<td><input [(ngModel)]="profesor.apellidoPaterno" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>Apellido Materno</b></td>
				<td><input [(ngModel)]="profesor.apellidoMaterno" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>Nombre APA</b></td>
				<td><input [(ngModel)]="profesor.nombreApa" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>Tipo de profesor</b></td>
				<td>{{tipoProf}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Correo</b></td>
				<td><input [(ngModel)]="profesor.correoProfesor" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
			<tr>
				<td></td>
				<td><b>Nivel</b></td>
				<td>{{profesor.nivel}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Grado</b></td>
				<td><input [(ngModel)]="profesor.grado" required type="text"
					autocomplete="off" style="width: 50%;"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<button 
		class="btn waves-effect waves-light center-button blue-grey darken-4"
		(click)="guardarCambios()"
	>Guardar cambios<i class="material-icons right">save</i>
	</button>
	<br>
</div>