@import '~material-design-icons/iconfont/material-icons.css';

.center-icon {
	display: flex;
	align-items: center;
}

@media print {
	@page {
		size: auto;
		margin: 0;
	}

	.fixed-action-btn {
		display: none !important;
		color: white;
	}

	:host app-navigation {
		display: none;
	}

	body {
		background-color: #AF4C0ABE;
	}
}