<app-navigation></app-navigation>
<router-outlet></router-outlet>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large red">
		<i class="large material-icons">add</i>
	</a>
	<ul>
		<li><a (click)="agregarArticulo()" class="btn-floating black"><i class="material-icons">insert_chart</i></a>
		</li>
		<li><a (click)="agregarProfesor()" class="btn-floating black"><i class="material-icons">format_quote</i></a></li>
		<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
		<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
	</ul>
</div>

<div class="container">
	<div id="agregarArticulo" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Ingresa Articulo</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<label>Nombre Articulo</label>
								<input [(ngModel)]="articulito.titulo" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Tipo CLR</label>
								<select class="browser-default">
									<ng-container *ngFor="let item of tipoCLR;">
										<option [value]="item">{{item}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Institutos</label>
								<select (change)="cambioInstituto($event.target)" class="browser-default">
									<ng-container *ngFor="let item of institutos;">
										<option *ngIf="item.idIsntituto !== 9" [value]="item.idInstituto">
											{{item.nombreInstituto}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row" *ngIf="numCarrerasActual != 0">
							<div class="col s12">
								<label>Carreras</label>
								<select (change)="cambioCarrera($event.target)" class="browser-default">
									<ng-container *ngFor="let item of carreras;">
										<option *ngIf="item.idIsntituto !== 9" [value]="item.idCarrera">
											{{item.nombreCarrera}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Profesores</label>
								<select class="browser-default">
									<ng-container *ngFor="let item of profesores;">
										<option [value]="item.idProfesor">
											{{item.nombres + " " + item.apellidoPaterno 
												+ " " + item.apellidoMaterno}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s6 center">
								<a 	(click)="darAltaArticulo()" 
									class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
							</div>
							<div class="col s6 center">
								<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div id="agregarProfesor" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Ingresa Profesor</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<label>Nombre(s)</label>
								<input [(ngModel)]="registroProfesor.nombres" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Apellido materno</label>
								<input [(ngModel)]="registroProfesor.apellidoMaterno" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Apellido paterno</label>
								<input [(ngModel)]="registroProfesor.apellidoPaterno" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Correo</label>
								<input [(ngModel)]="registroProfesor.correoProfesor" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Nombre APA</label>
								<input [(ngModel)]="registroProfesor.nombreApa" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Institutos</label>
								<select (change)="cambioInstituto($event.target)" class="browser-default">
									<ng-container *ngFor="let item of institutos;">
										<option [value]="item.idInstituto" [selected]="item.idInstituto == institutoActual">
											{{item.nombreInstituto}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row" *ngIf="numCarrerasActual != 0">
							<div class="col s12">
								<label>Carreras</label>
								<select (change)="cambioCarrera($event.target)" class="browser-default">
									<ng-container *ngFor="let item of carreras;">
										<option [value]="item.idCarrera" [selected]="item.idCarrera == carreraActual">
											{{item.nombreCarrera}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<label>Grado</label>
								<input [(ngModel)]="registroProfesor.grado" required type="text"
										autocomplete="off">
							</div>
							<div class="col s6">
								<label>Tipo de profesor</label>
								<select (change)="cambioTipoProf($event.target)" class="browser-default">
									<ng-container *ngFor="let item of tipoProf;">
										<option [value]="item.idTipoProfesor" [selected]="item == tprofActual">
											{{item.nombreTipo}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s6 center">
								<a 	(click)="darAltaProfesor()" 
									class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
							</div>
							<div class="col s6 center">
								<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- obtener nombre profesor -->
<!-- <div class="container">
	<div class="modal">
		<div>
			<br>
			<h5 class="center">Ingresa Profesor</h5>
		</div>
		<div class="modal-content">
			<div style="border: .5px solid #78909c; padding: 30px;">
				<div class="col s12 offset-s3">
					<div class="row">
						<div class="input-field">
							<input [(ngModel)]="registroProfesor.nombres" name="input_nombres" type="text">
							<label for="input_nombres">Nombre(s)</label>
						</div>
					</div>
					<br>
					<div class="input-field col s6">
						<input [(ngModel)]="registroProfesor.apellidoPaterno" name="input_apellidop" type="text">
						<label for="input_apellidop">Apellido paterno</label>
					</div>
					<br>
					<div class="input-field col s6">
						<input [(ngModel)]="registroProfesor.apellidoMaterno" name="input_apellidom" type="text">
						<label for="input_apellidom">Apellido materno</label>
					</div>
					<br>
					<div class="input-field col s6">
						<input [(ngModel)]="registroProfesor.correoProfesor" name="input_correo" type="email">
						<label for="input_correo">Correo</label>
					</div>
					<br>
					<div class="input-field col s6">
						<input [(ngModel)]="registroProfesor.password" name="input_contra" type="password">
						<label for="input_contra">Contraseña</label>
					</div>
					<br>
					<div class="input-field col s6">
						<input id="input_nivel" type="number">
						<label for="input_nivel">nivel</label>
					</div>
					<br>
					<div class="row">
						<div class="input-field col s6">
							<label>Instituto</label>
							<select (change)="cambioInstituto($event.target)" id="select_instituto" class="browser-default">
								<option value="" disabled selected>Elije un instituto</option>
								<ng-container *ngFor="let item of institutos;">
									<option *ngIf="item.idIsntituto != 0" [value]="item.idInstituto">
										{{item.nombreInstituto}}
									</option>
								</ng-container>
							</select>
							<label for="select_instituto">Instituto</label>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="input-field col s6">
							<label>Carrera</label>
							<select id="select_carrera" class="browser-default">
								<option value="" disabled selected>Elije una carrera</option>
								<ng-container *ngFor="let item of carreras;">
									<option *ngIf="item.idIsntituto != 0" [value]="item.idCarrera">
										{{item.nombreCarrera}}
									</option>
								</ng-container>
							</select>
							<label for="select_carrera">Carrera</label>
						</div>
					</div>
					<br>
					<div class="input-field col s6">
						<input id="input_grado" type="text">
						<label for="input_grado">Grado</label>
					</div>
					<br>
					<div class="center-align">
						<button 
							(click)="darAltaProfesor()"
							class="modal-action modal-close btn waves-effect waves-light"
							style="margin-right: 10px;" 
							type="submit" 
							name="action"
						>Crear<i class="material-icons right">send</i>
						</button>
						<button
							class="modal-action modal-close btn waves-effect waves-light"
							name="action"
						>Cancelar<i class="material-icons right">cancel</i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->