<div class="contenedor-principal">

	<!-- Filtrado por fecha -->
	<div class="row esconder-print">
		<div class="col offset-s3 s3">
			<input (change)="cambioFechaIni()" id="fechaIni" type="date" value="{{ini}}">
		</div>
		<div class="col s3">
			<input (change)="cambioFechaFin()" id="fechaFin" type="date" value="{{fin}}">
		</div>
	</div>

	<!-- Filtrado por instituto -->
	<div class="row esconder-print" *ngIf="nivel == 1">
		<div class="col offset-s3 s6">
			<label>Filtrado por instituto</label>
			<select (change)="cambioInstituto($event.target)" class="browser-default">
				<option value="-1">Todos</option>
				<ng-container *ngFor="let instituto of institutos; let i = index;">
					<option [value]="i">
						{{instituto.nombreInstituto}}
					</option>
				</ng-container>
			</select>
		</div>
	</div>

	<!-- Filtrado por profesor -->
	<div class="row esconder-print" *ngIf="nivel < 4">
		<div class="col offset-s3 s6">
			<label>Filtrado por profesor</label>
			<select (change)="cambioProfesor($event.target)" class="browser-default">
				<option value="-1">Todos</option>
				<ng-container *ngFor="let profesor of profesores; let i = index;">
					<option [value]="i">
						{{profesor.nombres}} {{profesor.apellidoPaterno}} {{profesor.apellidoMaterno}}
					</option>
				</ng-container>
			</select>
		</div>
	</div>

	<div class="esconder-print">
		<br>
		<p>*Recordar que el filtrado por fecha siempre está activo</p>
		<br>
	</div>

	<!-- Muestra articulos -->
	<table>
		<ng-container *ngFor="let item of articulos">
			<tr>
				<td colspan="4"><b>Articulos de: {{item.instituto}}</b></td>
			</tr>
			<ng-container *ngIf="item.articulos.length > 0; else sinArticulos">
				<ng-container *ngFor="let articulo of item.articulos">
					<tr class="hide-line" *ngIf="articulo.fechaedicion >= ini && articulo.fechaedicion <= fin">
						<td>{{articulo.fechaedicion}}</td>
						<td><strong>{{articulo.titulo}}</strong></td>
						<td><b>Autor</b></td>
						<td style="width: 40%;">
							{{articulo.grado}} {{articulo.nombres}} {{articulo.apellidoPaterno}} {{articulo.apellidoMaterno}}
						</td>
					</tr>
				</ng-container>
			</ng-container>
			<ng-template #sinArticulos>
				<tr class="hide-line">
					<td colspan="4">
						Sin articulos principales
					</td>
				</tr>
			</ng-template>
			<br>
		</ng-container>
	</table>

</div>