@import '~material-design-icons/iconfont/material-icons.css';

.contenedor-principal {
	margin-top: 10em;
	margin-left: 5em;
	margin-right: 5em;
}

.my-pagination /deep/ .ngx-pagination .current {
	background: #5F1E05;
}