<div class="contenedor-principal">
	<table>
		<tr>
			<td colspan="5">
				<div class="row">
					<div class="col s5">
						<label>Institutos</label>
						<select (change)="cambioInstituto($event.target)" class="browser-default">
							<ng-container *ngFor="let item of institutos;">
								<option [value]="item.idInstituto" [selected]="item.idInstituto == institutoActual">
									{{item.nombreInstituto}}
								</option>
							</ng-container>
						</select>
					</div>
				</div>
				<div class="row" *ngIf="numCarrerasActual != 0">
					<div class="col s5">
						<label>Carreras</label>
						<select (change)="cambioCarrera($event.target)" class="browser-default">
							<ng-container *ngFor="let item of carreras;">
								<option [value]="item.idCarrera" [selected]="item.idCarrera == carreraActual">
									{{item.nombreCarrera}}
								</option>
							</ng-container>
						</select>
					</div>
				</div>
			</td>
		</tr>
		<tr><br><b>Profesores</b></tr>
		<tr *ngFor="let profesor of profesores; let i = index;">
			<td style="width: 10%;">{{i + 1}}</td>
			<td><img src="http://localhost:3000/img/{{profesor.idProfesor}}.jpg"></td>
			<td><strong>{{	profesor.grado + " " + profesor.nombres + " " + profesor.apellidoPaterno + 
				" " + profesor.apellidoMaterno	}}</strong></td>
			<td style="width: 5%;">
				<a 
					href="javascript:void(0);" 
					(click)="modificarProfesor(i)"
					class="material-icons"
				>edit</a>
			</td>
			<td>
				<a 
					href="javascript:void(0);"
					(click)="eliminarProfesor(i, profesor.idProfesor)"
					class="material-icons"
				>delete</a>
			</td>
		</tr>
	</table>
</div>


<div class="container">
	<div id="editarProfesor" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Editar Profesor</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<label>Nombre(s)</label>
								<input [(ngModel)]="editaProf.nombres" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Apellido paterno</label>
								<input [(ngModel)]="editaProf.apellidoPaterno" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Apellido materno</label>
								<input [(ngModel)]="editaProf.apellidoMaterno" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Correo</label>
								<input [(ngModel)]="editaProf.correoProfesor" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Nombre APA</label>
								<input [(ngModel)]="editaProf.nombreApa" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Institutos</label>
								<select (change)="cambioInstitutoEdit($event.target)" class="browser-default">
									<ng-container *ngFor="let item of institutosEdit;">
										<option [value]="item.idInstituto" [selected]="item.idInstituto == instActualEdit">
											{{item.nombreInstituto}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row" *ngIf="numCarrActualEdit != 0">
							<div class="col s12">
								<label>Carreras</label>
								<select (change)="cambioCarreraEdit($event.target)" class="browser-default">
									<ng-container *ngFor="let item of carrerasEdit;">
										<option [value]="item.idCarrera" [selected]="item.idCarrera == carrActualEdit">
											{{item.nombreCarrera}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<label>Grado</label>
								<input [(ngModel)]="editaProf.grado" required type="text"
										autocomplete="off">
							</div>
							<div class="col s6">
								<label>Tipo de profesor</label>
								<select (change)="cambioTipoProf($event.target)" class="browser-default">
									<ng-container *ngFor="let item of tipoProf;">
										<option [value]="item.idTipoProfesor" [selected]="item.idTipoProfesor == tprofActual">
											{{item.nombreTipo}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s6 center">
								<a 	(click)="cambiarDatosProf()" 
									class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
							</div>
							<div class="col s6 center">
								<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>