<div class="contenedor-principal">
	<table>
		<tr><br><b>Articulos del instituto</b></tr>
		<tr *ngFor="let item of datosArticulos | 
			paginate: {
				itemsPerPage: pageSize,
				currentPage: p 
			};"
		>
			<td>{{item.articulo.fechaedicion}}</td>
			<td><strong>{{item.articulo.titulo}}</strong></td>
			<td><b>Autor(es)</b></td>
			<p *ngFor="let autor of item.autores">
				{{autor.grado}} {{autor.nombres}} {{autor.apellidoPaterno}} {{autor.apellidoMaterno}}
			</p>
		</tr>
	</table>
	<br><br>
	<div class="row center-align">
		<pagination-controls
			class="my-pagination"
			(pageChange)="p = ($event)"
			previousLabel="Anterior"
			nextLabel="Siguiente"
		>
		</pagination-controls>
	</div>
</div>