<nav class="white">
	<div class="nav-wrapper">
		<div class="row">
			<div class="col s2">
				<a href="/home/generales/{{idProfesor}}" class="brand-logo black-text">
					<img src="../../../assets/img/utm_ova.gif" class="logo" alt="utm-logo">
				</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons center-icon">menu</i></a>
			</div>
			<div class="col s8">
				<ul class="left hide-on-med-and-down">
					<li>
						<a class="dropdown-trigger black-text" data-target="dropdown-ver" href="#">
							Ver<i class="material-icons right center-icon">arrow_drop_down</i>
						</a>
					</li>
					<li [hidden]="nivel != 1 && nivel != 3">
						<a class="dropdown-trigger black-text" data-target="dropdown-agregar" href="javascript:void(0);">
							Agregar<i class="material-icons right center-icon">arrow_drop_down</i>
						</a>
					</li>
					<li [hidden]="nivel == 4">
						<a class="dropdown-trigger black-text" data-target="dropdown-listar" href="javascript:void(0);">
							Listar<i class="material-icons right center-icon">arrow_drop_down</i>
						</a>
					</li>
					<li [hidden]="nivel == 4">
						<a class="dropdown-trigger black-text" data-target="dropdown-migrar" href="javascript:void(0);">
							Importar<i class="material-icons right center-icon">arrow_drop_down</i>
						</a>
					</li>
					<li [hidden]="nivel == 4">
						<a class="dropdown-trigger black-text" data-target="dropdown-imprimir" href="javascript:void(0);">
							Imprimir<i class="material-icons right center-icon">arrow_drop_down</i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col s2">
				<ul class="right hide-on-med-and-down">
					<li>
						<a class="right black-text" (click)="logout()"><i class="material-icons right center-icon
						vertical-align-middle">exit_to_app</i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<!-- Contenido de los desplegables (Ver) -->
<ul id="dropdown-ver" class="dropdown-content">
	<li><a class="black-text" href="/home/generales/{{idProfesor}}">Datos Generales</a></li>
	<li><a class="black-text" href="javascript:void(0);">Materias</a></li>
	<li [hidden]="nivel < 2">
		<a class="black-text" href="/home/articulos/{{idProfesor}}">Articulos</a>
	</li>
	<li><a class="black-text" href="javascript:void(0);">Proyectos</a></li>
	<li><a class="black-text" href="javascript:void(0);">Comisiones</a></li>
	<li><a class="black-text" href="javascript:void(0);">Eventos</a></li>
	<li><a class="black-text" href="javascript:void(0);">Tesistas</a></li>
</ul>

<!-- Contenido de los desplegables (Agregar) -->
<ul id="dropdown-agregar" class="dropdown-content">
	<li>
		<a (click)="agregarProfesor()" class="black-text" href="javascript:void(0);">Profesor</a>
	</li>
	<li [hidden]="nivel != 1">
		<a (click)="agregarInstituto()" class="black-text" href="javascript:void(0);">Instituto</a>
	</li>
	<li [hidden]="nivel != 1">
		<a (click)="agregarCarrera()" class="black-text" href="javascript:void(0);">Carrera</a>
	</li>
</ul>

<!-- Contenido de los desplegables (Listar) -->
<ul id="dropdown-listar" class="dropdown-content">
	<li [hidden]="nivel != 1">
		<a class="black-text" href="/home/profesores-vice/{{idProfesor}}">Profesores</a>
	</li>
	<li [hidden]="nivel != 3">
		<a class="black-text" href="/home/profesores-jefe/{{idProfesor}}">Profesores</a>
	</li>
	<li [hidden]="nivel != 1">
		<a class="black-text" href="/home/institutos-vice/{{idProfesor}}">Institutos</a>
	</li>
	<li [hidden]="nivel != 1">
		<a class="black-text" href="/home/carreras-vice/{{idProfesor}}">Carreras</a>
	</li>
	<li [hidden]="nivel != 1">
		<a class="black-text" href="/home/articulos-vice/{{idProfesor}}">Articulos</a>
	</li>
	<li [hidden]="nivel != 2">
		<a class="black-text" href="/home/articulos-direc/{{idProfesor}}">Articulos</a>
	</li>
	<li [hidden]="nivel > 2">
		<a class="black-text" href="javascript:void(0);">Eventos</a>
	</li>
	<li [hidden]="nivel > 2">
		<a class="black-text" href="javascript:void(0);">Actividades</a>
	</li>
</ul>

<!-- Contenido de los desplegables (Importar) -->
<ul id="dropdown-migrar" class="dropdown-content">
	<li [hidden]="nivel != 1 && nivel != 3">
		<a (click)="migrarProfesor()" class="black-text" href="javascript:void(0);">Profesores</a>
	</li>
	<li [hidden]="nivel != 1">
		<a (click)="migrarInstituto()" class="black-text" href="javascript:void(0);">Institutos</a>
	</li>
	<li [hidden]="nivel != 1">
		<a (click)="migrarCarrera()" class="black-text" href="javascript:void(0);">Carreras</a>
	</li>
	<li [hidden]="nivel != 2">
		<a (click)="migrarArticulo()" class="black-text" href="javascript:void(0);">Articulos</a>
	</li>
	<li [hidden]="nivel != 2">
		<a (click)="migrarEvento()" class="black-text" href="javascript:void(0);">Eventos</a>
	</li>
	<li [hidden]="nivel != 2">
		<a (click)="migrarActividad()" class="black-text" href="javascript:void(0);">Actividades</a>
	</li>
</ul>

<!-- Contenido de los desplegables (Imprimir) -->
<ul id="dropdown-imprimir" class="dropdown-content">
	<li><a class="black-text" href="/home/articulos-imp/{{idProfesor}}">Articulos</a></li>
	<li><a class="black-text" href="javascript:void(0);">Eventos</a></li>
	<li><a class="black-text" href="javascript:void(0);">Actividades</a></li>
</ul>

<!-- Para el menú hamburguesa -->
<div>
	<ul class="sidenav" id="mobile-demo">
		<li>
			<a class="dropdown-trigger black-text" data-target="dropdown-ver-m" href="#">
				Ver<i class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		<li>
			<a class="dropdown-trigger black-text" data-target="dropdown-agregar-m" href="javascript:void(0);">
				Agregar<i class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		<li>
			<a class="dropdown-trigger black-text" data-target="dropdown-listar-m" href="javascript:void(0);">
				Listar<i class="material-icons right center-icon">arrow_drop_down</i>
			</a>
		</li>
		<li>
			<a class="right black-text" (click)="logout()"><i class="material-icons right
			vertical-align-middle">exit_to_app</i></a>
		</li>
	</ul>
	<ul id="dropdown-ver-m" class="dropdown-content">
		<li><a class="black-text" href="/home/generales/{{idProfesor}}">Datos Generales</a></li>
		<li><a class="black-text" href="javascript:void(0);">Materias</a></li>
		<li><a class="black-text" href="/home/articulos/{{idProfesor}}">Articulos</a></li>
		<li><a class="black-text" href="javascript:void(0);">Proyectos</a></li>
		<li><a class="black-text" href="javascript:void(0);">Comisiones</a></li>
		<li><a class="black-text" href="javascript:void(0);">Eventos</a></li>
		<li><a class="black-text" href="javascript:void(0);">Tesistas</a></li>
	</ul>
	<ul id="dropdown-agregar-m" class="dropdown-content">
		<li><a (click)="agregarProfesor()" class="black-text" href="javascript:void(0);">Profesor</a></li>
		<li><a  class="black-text" href="javascript:void(0);">Instituto</a></li>
		<li><a  class="black-text" href="javascript:void(0);">Carrera</a></li>
	</ul>
	<ul id="dropdown-listar-m" class="dropdown-content">
		<li><a class="black-text" href="/home/profesores-vice/{{idProfesor}}">Profesores</a></li>
		<li><a class="black-text" href="/home/institutos-vice/{{idProfesor}}">Institutos</a></li>
		<li><a class="black-text" href="/home/carreras-vice/{{idProfesor}}">Carreras</a></li>
		<li><a class="black-text" href="/home/articulos-vice/{{idProfesor}}">Articulos</a></li>
	</ul>
</div>

<!-- Agregar profesor  -->
<div class="container">
	<div id="agregarProfesor" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Ingresa Profesor</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<label>Nombre(s)</label>
								<input [(ngModel)]="registroProfesor.nombres" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Apellido materno</label>
								<input [(ngModel)]="registroProfesor.apellidoMaterno" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Apellido paterno</label>
								<input [(ngModel)]="registroProfesor.apellidoPaterno" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Correo</label>
								<input [(ngModel)]="registroProfesor.correoProfesor" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label>Nombre APA</label>
								<input [(ngModel)]="registroProfesor.nombreApa" required type="text"
										autocomplete="off">
							</div>
						</div>
						<div [hidden]="nivel == 3">
							<div class="row">
								<div class="col s12">
									<label>Institutos</label>
									<select (change)="cambioInstituto($event.target)" class="browser-default">
										<ng-container *ngFor="let item of institutos;">
											<option [value]="item.idInstituto" [selected]="item.idInstituto == institutoActual">
												{{item.nombreInstituto}}
											</option>
										</ng-container>
									</select>
								</div>
							</div>
							<div class="row" *ngIf="numCarrerasActual != 0">
								<div class="col s12">
									<label>Carreras</label>
									<select (change)="cambioCarrera($event.target)" class="browser-default">
										<ng-container *ngFor="let item of carreras;">
											<option [value]="item.idCarrera" [selected]="item.idCarrera == carreraActual">
												{{item.nombreCarrera}}
											</option>
										</ng-container>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<label>Grado</label>
								<input [(ngModel)]="registroProfesor.grado" required type="text"
										autocomplete="off">
							</div>
							<div class="col s6">
								<label>Tipo de profesor</label>
								<select (change)="cambioTipoProf($event.target)" class="browser-default">
									<ng-container *ngFor="let item of tipoProf;">
										<option [value]="item.idTipoProfesor" [selected]="item == tprofActual">
											{{item.nombreTipo}}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s6 center">
								<a 	(click)="darAltaProfesor()" 
									class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
							</div>
							<div class="col s6 center">
								<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal que muestra el registro de un instituto -->
<app-add-instituto [abrirModal]="abrirModalInst"></app-add-instituto>

<!-- Modal que muestra el registro de una carrera -->
<app-add-carrera [abrirModal]="abrirModalCarr"></app-add-carrera>


<!-- Modal excel Profesor -->
<div class="container">
	<div id="migrarProfesor" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Migrar Profesor</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<div class="file-field input-field">
									<div class="btn light-blue darken-1">
										<span>Subir</span>
										<input
											id="subida-prof" 
											(change)="cargarExcel($event.target)" 
											type="file"
										>
									</div>
									<div class="file-path-wrapper">
										<input	id="subida-prof-n"
												class="file-path validate" 
												type="text"
												placeholder="Selecciona tu excel"
										>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s6 center">
									<a 	(click)="migrarProfesor2DB()" 
										class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
								</div>
								<div class="col s6 center">
									<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal excel Instituto -->
<div class="container">
	<div id="migrarInstituto" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Migrar Institutos</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<div class="file-field input-field">
									<div class="btn light-blue darken-1">
										<span>Subir</span>
										<input
											id="subida-inst" 
											(change)="cargarExcel($event.target)" 
											type="file"
										>
									</div>
									<div class="file-path-wrapper">
										<input	id="subida-inst-n"
												class="file-path validate" 
												type="text"
												placeholder="Selecciona tu excel"
										>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s6 center">
									<a 	(click)="migrarInstituto2DB()" 
										class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
								</div>
								<div class="col s6 center">
									<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal excel Carreras -->
<div class="container">
	<div id="migrarCarrera" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Migrar Carreras</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<div class="file-field input-field">
									<div class="btn light-blue darken-1">
										<span>Subir</span>
										<input
											id="subida-carr" 
											(change)="cargarExcel($event.target)" 
											type="file"
										>
									</div>
									<div class="file-path-wrapper">
										<input	id="subida-carr-n"
												class="file-path validate" 
												type="text"
												placeholder="Selecciona tu excel"
										>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s6 center">
									<a 	(click)="migrarCarrera2DB()" 
										class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
								</div>
								<div class="col s6 center">
									<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal excel Articulos -->
<div class="container">
	<div id="migrarArticulo" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Migrar Articulos</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<div class="file-field input-field">
									<div class="btn light-blue darken-1">
										<span>Subir</span>
										<input
											id="subida-art" 
											(change)="cargarExcel($event.target)" 
											type="file"
										>
									</div>
									<div class="file-path-wrapper">
										<input	id="subida-art-n"
												class="file-path validate" 
												type="text"
												placeholder="Selecciona tu excel"
										>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s6 center">
									<a 	(click)="migrarArticulo2DB()" 
										class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
								</div>
								<div class="col s6 center">
									<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal excel Eventos -->
<div class="container">
	<div id="migrarEvento" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Migrar Eventos</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<div class="file-field input-field">
									<div class="btn light-blue darken-1">
										<span>Subir</span>
										<input
											id="subida-evn" 
											(change)="cargarExcel($event.target)" 
											type="file"
										>
									</div>
									<div class="file-path-wrapper">
										<input	id="subida-evn-n"
												class="file-path validate" 
												type="text"
												placeholder="Selecciona tu excel"
										>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s6 center">
									<a 	(click)="migrarEvento2DB()" 
										class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
								</div>
								<div class="col s6 center">
									<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal excel Actividades -->
<div class="container">
	<div id="migrarActividad" class="modal">
		<div class="modal-content">
			<div class="col s12 m12 l8 offset-12 loginDiv">
				<div class="row loginContainer">
					<div class="row" style="margin-bottom: 0px !important;">
						<div class="col s12">
							<h5 class="center">Migrar Actividades</h5>
						</div>
					</div>
					<div style="border: .5px solid #78909c; padding: 10px;">
						<div class="row">
							<div class="col s12">
								<div class="file-field input-field">
									<div class="btn light-blue darken-1">
										<span>Subir</span>
										<input
											id="subida-act" 
											(change)="cargarExcel($event.target)" 
											type="file"
										>
									</div>
									<div class="file-path-wrapper">
										<input	id="subida-act-n"
												class="file-path validate" 
												type="text"
												placeholder="Selecciona tu excel"
										>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s6 center">
									<a 	(click)="migrarActividad2DB()" 
										class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
								</div>
								<div class="col s6 center">
									<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>