@import '~material-design-icons/iconfont/material-icons.css';
nav {
	position: fixed;
	top: 0;
}

.logo {
	max-width: 30%;
	max-height: 30%;
	margin-top: 2%;
}

.center-icon {
	display: flex;
	align-items: center;
}
/* .contenedor-principal {
	margin-top: 10em;	
} */